.wrapper {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid blue;
}

.prompt {
    display: flex;
}

#btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 20px;
    background-color: bisque;
}